html{
	/* padding-right: -1000px; */
	/* overflow: hidden; */
	overflow-x: hidden;
}

.content{
	height: 3100px;
	width: 100%;
	/* background-color: aquamarine; */
	background-color: #1C1B1F;
}
/* 用于占位 */
.nav-menu-zw{
	height: 75px;
	width: 100%;
}

.firstContentPage{
	height: 670px;
	width: 100%;
	/* background-color: #837BF3; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* 星球图层有点糊,需要进行适当修改 */
	background-image: url(../img/littleStars.png);
	background-position: top;
	background-size: cover;
	background-repeat: repeat;
}

.firstContentPageLeftArea{
	height: 670px;
	width: 600px;
	/* background-color: #1C1B1F; */
	padding-right: 100px;
	/* background-color: antiquewhite; */
	/* background-image: url(../img/littleStars.png); */
	background-position: center;
	/* background-size: cover; */
}

.COANBigTitle{
	font-family: 'PingFang SC';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	letter-spacing: -0.02em;
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 65.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	/* border: 1px solid #000000; */
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 420px;
	margin-left: 100px;
	padding-top: 200px;
}

.COANSmallTitle{
	font-family: 'PingFang SC';
	font-style: normal;
	font-weight: 100;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #CAC4D0;
	width: 420px;
	margin-left: 100px;
	margin-top: 25px;
}

.entry-btn-area{
	display: flex;
	/* width:auto; */
	/* background-color: #6E99F6; */
	margin-left: 100px;
}

@keyframes entryButtonAni {
	to{
	    background-position: 180px;
	}
}

.entryButton1{
	margin-top: 25px;
	background: linear-gradient(99.33deg, #3ACEFD 26.97%, #6E99F6 48.31%, #837BF3 75.94%, #995BF0 87.08%);
	width: 180px;
	height: 55px;
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.02em;
	animation: entryButtonAni 2s  linear infinite;
	/* border: 1px solid violet; */
	 box-shadow: -1px 15px 30px -12px #000;
}

.entryButton2{
	margin-top: 25px;
	/* background: linear-gradient(99.33deg, #3ACEFD 26.97%, #6E99F6 48.31%, #837BF3 75.94%, #995BF0 87.08%); */
	width: 180px;
	height: 54px;
	border-radius: 1000px;
	border:1px solid violet;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.02em;
	animation: entryButtonAni 2s  linear infinite;
	background-color: rgba(82, 77, 96, 0.5);
	margin-left: 20px;
	 box-shadow: -1px 15px 30px -12px #000;
}

.entryButtonChosen{
	/* margin-left: 100px; */
	margin-top: 25px;
	background: linear-gradient(97.33deg, #3ACEFD 1.97%, #6E99F6 28.31%, #837BF3 55.94%, #995BF0 87.08%);
	width: 180px;
	height: 55px;
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 550;
	letter-spacing: 0.02em;
	box-shadow: -1px 15px 30px -12px #000;
}

.firstContentPageRightArea{
	background-color: #1C1B1F;
	overflow: hidden;
	background-attachment: fixed;
	background: url(../img/xqbg.png);
	height: 670px;
	
}

.firstContentPageRightArea ul{
	list-style: none;
	/* background: url(img/xq4.png); */
	/* margin-left: -100rpx; */
}

.background-too{
	height: 670px;
	width: 670px;
	
}

.layer img{
	height: 670px;
}

.secondContentPage{
	width: 100%;
	height: 670px;
	/* background-color: #837BF3; */
	background-image: url(../img/littleStars.png);
	background-position: center;
	background-size: cover;
}

.whychooseus-title{
	width: 100%;
	/* background-color: #3ACEFD; */
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.whychooseus-text{
	font-size: 40px;
	/* font-weight: 600; */
	color: white;
	z-index: 3;
	/* padding-top: 50px; */
}

.whychooseus-img{
	/* width: 40vw; */
	/* height: 50px; */
	/* width: 200px; */
	/* background-color: #CAC4D0; */
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: -30px;
	margin-bottom: 80px;
}

.whychooseus-img img{
	width: 35%;
}

.wrap {
    width: 80%;
	height: 100%;
    min-height: 100px;
	margin-left: 10%;
    /* 使用了grid布局 */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    justify-content: space-between;
}

.card-item {
    width: 100%;
    border-radius: 20px;
    /* background-color: #fff; */
    box-shadow: -1px 15px 30px -12px #000;
    /* 让卡片里的元素都具有透视的效果 */
    transform-style: preserve-3d;
	color: #fff;
}

.role {
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* background: url(); */
    position: relative;
	background-position: center;
	background-size: cover;
}

.role img {
    width: 350px;
    position: absolute;
    top: -60%;
    left: -15%;
    /* 实现游戏角色突出来的效果 */
    transform: translateZ(50px);
}

.des {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    transform: translateZ(50px);
	height:200px;
	/* font-size: 18px; */
}

.des h6 {
    /* color: #F6901A; */
	color: blueviolet;
    font-weight: 400;
}

.des h1 {
    padding: 10px;
    font-size: 26px;
}

.des p {
    text-align: left;
    font-size: 15px;
    padding: 0 16px;
    color: #9e9e9e;
}

.btn-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #F6901A;
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
}

.btn h3 {
    margin-bottom: 4px;
    color: #fff;
}

.btn span {
    font-size: 14px;
    color: #fff;
}

.intro-card-area{
	width: 100%;
	height: 400px;
	/* background-color: #837BF3; */
	margin-top: 30px;
}



.thirdContentPage{
	width: 100%;
	height: 670px;
	/* background-color: #837BF3; */
	background-image: url(../img/littleStars.png);
	background-position: center;
	background-size: cover;
	/* background-color: #837BF3; */
}

.our-function-big-title{
	width: 100%;
	height: 75px;
	/* background-color: #837BF3; */
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}

.our-function-big-title-left{
	display: flex;
}

.our-function-icon{
	width: 15px;
	height: 45px;
	margin-left: 45px;
	margin-top: 15px;
	background: linear-gradient(0deg, #596DFF 0%, #F87BFF 100%);
	/* background-color: #596DFF; */
	border-radius: 20px;
}

.our-function-text{
	color: white;
	font-size: 30px;
	margin-left: 20px;
	letter-spacing: 0.05em;
}

.our-function-big-title-right{
	width: 60px;
	height: 60px;
	margin-right: 45px;
}

.our-function-big-title-right img{
	width: 100%;
	height: 100%;
	margin-top: 6px;
	/* margin-right: 45px; */
}

.our-function-en-text{
	width: 100%;
	height: 70px;
	/* background-color: #6E99F6; */
	font-size: 50px;
	background: linear-gradient(0deg, rgba(89, 109, 255, 0.4) 0%, rgba(248, 123, 255, 0.4) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin-left: 75px;
	margin-top: -60px;
	font-weight: 600;
}

.our-function-big-title-bg{
	background: linear-gradient(270deg, rgba(220, 121, 255, 0.5) 0%, rgba(220, 121, 255, 0) 100%);
	border-radius: 20px;
	height: 75px;
	width: calc(100vw - 90px);
	margin-left: 45px;
	margin-right: 45px;
	margin-top: -85px;
	 box-shadow: -1px 15px 30px -12px #000;
}

.four-function-area{
	height: 600px;
	width: 100%;
	/* background-color: #596DFF; */
	margin-top: 40px;
}

.four-function-area-first{
	/* background-color: #995BF0; */
	width: 100%;
	height: 250px;
	display: flex;
	/* flex-wrap: wrap; */
	/* align-items: center; */
	justify-content: center;
}

.four-function-area-first-left{
	height: 200px;
	width: 500px;
	/* background-color: #CAC4D0; */
	margin-left: 45px;
	/* margin-right: 45px; */
	margin-top: 25px;
}

.four-function-area-first-right{
	height: 200px;
	width: 500px;
	/* background-color: #CAC4D0; */
	margin-right: 45px;
	margin-left: 95px;
	margin-top: 25px;
}

.four-function-area-second{
	/* background-color: #995BF0; */
	width: 100%;
	height: 250px;
	display: flex;
	/* flex-wrap: wrap; */
	/* align-items: center; */
	justify-content: center;
	/* margin-top: 45px; */
	margin-top: 50px;
}

.four-function-area-second-left{
	height: 200px;
	width: 500px;
	/* background-color: #CAC4D0; */
	margin-left: 45px;
	/* margin-right: 45px; */
	margin-top: 25px;
}

.four-function-area-second-right{
	height: 200px;
	width: 500px;
	/* background-color: #CAC4D0; */
	margin-right: 45px;
	margin-left: 95px;
	margin-top: 25px;
}

.function-card{
	width: 100%;
	height: 100%;
	display: flex;
}

.card-num-area{
	height: 150px;
	width: 70px;
	background-color: #3ACEFD;
	font-size: 130px;
	display: flex;
	align-items: center;
	letter-spacing: -0.02em;
	/* 渐变1 */
	background: linear-gradient(0deg, #596DFF 0%, #F87BFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-family: 'Acme';
	font-style: normal;
	font-weight: 400;
}

.card-detail-area{
	height: 100%;
	width: 435px;
	/* margin-left: 15px; */
	/* background-color: #596DFF; */
	
}

.card-detail-title{
	color: white;
	font-size: 40px;
	margin-left: 15px;
	margin-top: 10px;
}

.card-detail-desc{
	color: white;
	margin-left: 15px;
	margin-top: 20px;
	margin-right: 10px;
}

.card-detail-title-special{
	display: flex;
	color: white;
	align-items: flex-end;
}

.card-detail-area:hover{
	background: linear-gradient(0deg, rgba(89, 109, 255, 0.5) 0%, rgba(248, 123, 255, 0.5) 100%);
	border-radius: 30px;
}

.forthContentPage{
	width: 100%;
	height: 480px;
	/* background-color: #837BF3; */
	background-image: url(../img/littleStars.png);
	background-position: center;
	background-size: cover;
}

.wrap-security{
	width: 80%;
	height: 100%;
	min-height: 100px;
	margin-left: 10%;
	/* 使用了grid布局 */
	display: flex;
	justify-content: space-between;
	/* grid-template-columns: 200px 200px 200px 200px 200px 200px; */
	/* justify-content: space-between; */
	/* align-self: center; */
	margin-top: 100px;
	/* background-color: #596DFF; */
}

.card-item-security {
    width: 200px;
    border-radius: 20px;
    /* background-color: #fff; */
    box-shadow: -1px 15px 30px -12px #000;
    /* 让卡片里的元素都具有透视的效果 */
    transform-style: preserve-3d;
	color: #fff;
	height: 400px;
}

.role-security1 {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: radial-gradient(50% 50% at 50.11% 50%, rgba(255, 18, 231, 0.5) 0%, rgba(248, 123, 255, 0.5) 100%);
    position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-security1 img {
    width: 125px;
    /* position: absolute; */
    /* top: -30%; */
    /* left: -5%; */
    /* 实现游戏角色突出来的效果 */
    /* transform: translateZ(50px); */
}

.role-security2 {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	background: radial-gradient(50% 50% at 50% 50%, rgba(123, 113, 255, 0.5) 0%, rgba(136, 169, 255, 0.5) 100%);
    position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-security2 img {
    /* width: 350px; */
	width: 140px;
    /* position: absolute; */
    /* top: -30%; */
    /* left: -5%; */
    /* 实现游戏角色突出来的效果 */
    /* transform: translateZ(50px); */
}

.role-security3 {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	background: radial-gradient(50% 50% at 50.11% 50%, rgba(31, 215, 255, 0.5) 0%, rgba(188, 239, 255, 0.5) 100%);
    position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-security3 img {
    /* width: 350px; */
    /* position: absolute; */
    /* top: -30%; */
    /* left: -5%; */
    /* transform: translateZ(50px); */
	width: 125px;
}

.role-security4 {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	/* background: radial-gradient(50% 50% at 50% 50%, rgba(123, 113, 255, 0.5) 0%, rgba(136, 169, 255, 0.5) 100%); */
    background: radial-gradient(50% 50% at 50% 50%, rgba(123, 113, 255, 0.5) 0%, rgba(136, 169, 255, 0.5) 100%);
	position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-security4 img {
    /* width: 350px; */
    /* position: absolute; */
    /* top: -30%; */
    /* left: -5%; */
    /* transform: translateZ(50px); */
	width: 125px;
}

.role-security5 {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	/* background: radial-gradient(50% 50% at 50% 50%, rgba(123, 113, 255, 0.5) 0%, rgba(136, 169, 255, 0.5) 100%); */
    /* background: radial-gradient(50% 50% at 50% 50%, rgba(123, 113, 255, 0.5) 0%, rgba(136, 169, 255, 0.5) 100%); */
	background: radial-gradient(50% 50% at 50.11% 50%, rgba(255, 18, 231, 0.5) 0%, rgba(248, 123, 255, 0.5) 100%);
	position: relative;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.role-security5 img {
    /* width: 350px; */
    /* position: absolute; */
    /* top: -30%; */
    /* left: -5%; */
    /* transform: translateZ(50px); */
	width: 125px;
}

.des-sucurity {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    transform: translateZ(50px);
	height:200px;
	/* font-size: 18px; */
}

.des-sucurity h6 {
    /* color: #F6901A; */
	color: blueviolet;
    font-weight: 400;
}

.des-sucurity h1 {
    padding: 10px;
    font-size: 22px;
}

.des-sucurity h1:hover {
    padding: 10px;
    font-size: 22px;
	background: linear-gradient(0deg, #596DFF 0%, #F87BFF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.des-sucurity p {
    text-align: left;
    font-size: 12px;
    padding: 0 16px;
    color: #9e9e9e;
}

.title-line{
	background-color: #9e9e9e;
	width: 70%;
	margin-left: 15%;
	height: 0.5px;
	margin-bottom: 20px;
}

.index-page-bottom-area{
	background-color: #302D38;
	width: 100%;
	height: 300px;
	margin-top: 185px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.index-page-bottom-area-content{
	height: 80%;
	width: 80%;
	/* margin-left: 15%; */
	/* background-color: #596DFF; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.index-page-bottom-area-content-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	/* background-color: #995BF0; */
}

.index-page-bottom-area-content-left-COAN{
	display: flex;
	margin-bottom: 20px;
}

.index-page-bottom-area-coan-title{
	/* Linear */
	
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	
	font-size: 50px;
	font-weight: 600;
}

.index-page-bottom-area-content-left-desc{
	color: #CAC4D0;
	font-size: 14px;
}

.index-page-bottom-area-content-right{
	/* background-color: #995BF0; */
	width: 60%;
	height: 200px;
}

.index-page-bottom-area-content-right-menu{
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	justify-content: space-around;
	width: 100%;
}

.bottom-area-menu-title{
	color: #CAC4D0;
	font-size: 20px;
	margin-bottom: 20px;
}

.bottom-area-menu-title :hover{
	/* background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent; */
}

.bottom-area-menu-item{
	color: #CAC4D0;
	font-size: 14px;
	margin-top: 10px;
}

.bottom-area-memu-area div:hover{
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.index-page-bottom-area-cotent-right-btnarea{
	display: flex;
	align-items: center;
	/* justify-content: end; */
	justify-content: flex-end;
	margin-top: 20px;
	margin-right: 60px;
	/* margin-left: 60px; */
	/* background-color: #3ACEFD; */
}

.btnarea-title{
	color: #CAC4D0;
	margin-right: 25px;
}

.btn-items{
	height: 40px;
	width: 40px;
	/* background-color: #F6901A; */
	border-radius: 100000px;
	margin-left: 20px;
}

.btn-items img{
	height: 100%;
	width: 100%;
}

.btn-items1{
	height: 40px;
	width: 40px;
	/* background-color: #F6901A; */
	border-radius: 100000px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-items1 img{
	height: 120%;
	width: 120%;
}