.content{
	height: 1500px;
	width: 100%;
	/* background-color: aquamarine; */
	background-color: #1C1B1F;
}
/* 用于占位 */
.nav-menu-zw{
	height: 75px;
	width: 100%;
}

.firstContentPage{
	height: 670px;
	width: 100%;
	/* background-color: #837BF3; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url(../img/littleStars.png);
	background-position: center;
	background-size: cover;
}

.firstContentPageLeftArea{
	height: 670px;
	width: 600px;
	background-color: #1C1B1F;
	padding-right: 100px;
	/* background-color: antiquewhite; */
	background-image: url(../img/littleStars.png);
	background-position: center;
	/* background-size: cover; */
}

.COANBigTitle{
	font-family: 'PingFang SC';
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	letter-spacing: -0.02em;
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 65.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	/* border: 1px solid #000000; */
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 420px;
	margin-left: 100px;
	padding-top: 200px;
}

.COANSmallTitle{
	font-family: 'PingFang SC';
	font-style: normal;
	font-weight: 100;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: #CAC4D0;
	width: 420px;
	margin-left: 100px;
	margin-top: 25px;
}

.entry-btn-area{
	display: flex;
	/* width:auto; */
	/* background-color: #6E99F6; */
	margin-left: 100px;
}

@keyframes entryButtonAni {
	to{
	    background-position: 180px;
	}
}

.entryButton1{
	margin-top: 25px;
	background: linear-gradient(99.33deg, #3ACEFD 26.97%, #6E99F6 48.31%, #837BF3 75.94%, #995BF0 87.08%);
	width: 180px;
	height: 55px;
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.02em;
	animation: entryButtonAni 2s  linear infinite;
	/* border: 1px solid violet; */
}

.entryButton2{
	margin-top: 25px;
	/* background: linear-gradient(99.33deg, #3ACEFD 26.97%, #6E99F6 48.31%, #837BF3 75.94%, #995BF0 87.08%); */
	width: 180px;
	height: 54px;
	border-radius: 1000px;
	border:1px solid violet;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.02em;
	animation: entryButtonAni 2s  linear infinite;
	background-color: rgba(82, 77, 96, 0.5);
	margin-left: 20px;
}

.entryButtonChosen{
	/* margin-left: 100px; */
	margin-top: 25px;
	background: linear-gradient(97.33deg, #3ACEFD 1.97%, #6E99F6 28.31%, #837BF3 55.94%, #995BF0 87.08%);
	width: 180px;
	height: 55px;
	border-radius: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 18px;
	font-weight: 550;
	letter-spacing: 0.02em;
}

.firstContentPageRightArea{
	background-color: #1C1B1F;
	overflow: hidden;
	background-attachment: fixed;
	background: url(../img/xqbg.png);
	height: 670px;
	
}

.firstContentPageRightArea ul{
	list-style: none;
	/* background: url(img/xq4.png); */
	/* margin-left: -100rpx; */
}

.background-too{
	height: 670px;
	width: 670px;
	background: url(../img/littleStars.png);
	/* background-size: cover; */
	background-position: center;
}

.layer img{
	height: 670px;
}
