.main-search {
    position: relative;
}

.main-search > input {
    position: absolute;
    height: 36px;
    top: 0;
    outline: none;
    border-radius: 2rem;
    border: 2px solid #8f63e8;
    padding-left: 10px;
    padding-right: 92px;
}

.main-search > label {
    box-sizing: content-box;
    border: 2px solid #f5f5f5;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    margin-right: -12px;
    right: 0;
    width: 72px;
    text-align: center;
    background-color: #8672ea;
    color: #f5f5f5;
    padding: .2rem;
    border-radius: 2rem;
}

.main-sort {
    text-align: right;
}

.main-sort .dropdown {
    display: inline-block;
    background-color: #2f2d37;
    border-radius: 2rem;
}

.main-sort .dropdown > a {
    display: block;
    padding: .5rem 2.5rem;
    text-decoration: none;
    color: #f5f5f5;
}

.main-sort .dropdown:hover > a {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(-45deg, #68ccf8, #8f63e8);
}

.main-sort .dropdown .dropdown-menu > div {
    text-align: center;
    background-color: #2b2932;
    opacity: .75;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: 10px;
}

.card {
    background-color: #2f2d37;
}

.card-body {
    padding: .5rem 1rem;
}

.card-title {
    display: flex;
    align-items: center;
}

.card-title > span {
    color: #fff;
    margin-right: 5px;
}

.card-title > img {
    width: 16px;
    height: 16px;
}

.card-number {
    font-size: 1.25rem;
    color: #fff;
    font-weight: 600;
    margin-top: .3rem;
}

.card-count {
    display: inline-block;
    margin: .5rem 0;
    padding: .1rem 1rem;
    background-color: #636167;
    text-decoration: none;
    color: #fff;
    border-radius: .5rem;
    margin-right: .5rem;
}

.card-quantity {
    color: #c9c4cf;
}

.card-price {
    text-align: right;
    font-size: 1.25rem;
    color: #fff;
}

.card-header {
    position: relative;
}

.buy-btn {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 20px;
    border-radius: 2rem;
    background-image: linear-gradient(-45deg, #8f63e8, #699de2);
    transform: translateX(-50%);
    padding: .35rem 1.5rem;
    color: #fff;
    text-decoration: none;
}

.number {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 10px;
    right: 0;
    margin-right: 15px;
    padding: .25rem .5rem;
    font-size: 12px;
    background-color: rgba(255, 255, 255, .5);
    color: #333;
}

.card:hover .buy-btn, .card:hover .number {
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #1c1b1f no-repeat url("../img/背景.png");
}

body {
    font-size: 14px;
}

.container {
    width: 76rem;
    margin: 0 auto;
}

.header {
    background-color: #1c1b1f;
    padding: .375rem .75rem;
}

.header-swapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-brand {
    padding: 0.375rem 0.75rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    color: transparent;
    background-image: linear-gradient(-120deg, #945ae8, #699de2, #3cc7f4);
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
}

.header-brand > span {
    margin-left: -3px;
}

.header-brand > img {
    height: 40px;
    display: inline-block;
    vertical-align: text-bottom;
}

.header-search {
    display: flex;
    padding: .5rem 0.75rem;
    width: 190px;
    height: 30px;
    position: relative;
}

.header-search > input {
    display: block;
    width: 100%;
    height: inherit;
    color: #adb5bd;
    position: absolute;
    background-color: #2f2d37;
    top: 0;
    left: 0;
    border: 0;
    outline: 0;
    border-radius: 1rem;
    overflow: hidden;
    padding: .5rem 0.75rem;
}

.header-search > label {
    z-index: 1;
    height: inherit;
    position: absolute;
    top: 0;
    right: .25rem;
    padding: .35rem;
    vertical-align: top;
}

.header-menu {
    display: flex;
    list-style: none;
}

.dropdown {
    position: relative;
}

.header-menu > li:hover {
    background-image: linear-gradient(-45deg, #68ccf8, #8f63e8);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.header-menu > li a {
    display: inline-block;
    color: rgba(255,255,255, .85);
    padding: .5rem 0.75rem;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu {
    display: none;
    width: 100%;
    position: absolute;
    background-color: #1c1b1f;
    z-index: 999;
}

.dropdown-menu a {
    width: 100%;
    display: block;
    color: rgba(255,255,255, .85);
    padding: .5rem 0.75rem;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu a:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(-45deg, #68ccf8, #8f63e8);
}

.header-user {
    display: flex;
    list-style: none;
}

.header-user > a {
    display: inline-block;
    color: rgba(255,255,255, .85);
    padding: .5rem 0.75rem;
    text-decoration: none;
}

.header-user > a:hover {
    color: rgba(255, 255, 255, 1);
}

.header-user > a > img {
    height: 20px;
    vertical-align: middle;
}

.carousel {
    margin: .75rem 0;
    width: 100%;
    position: relative;
}

.carousel-inner {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    max-width: 100%;
    margin-right: -100%;
    backface-visibility: hidden;
}

.carousel-item.active {
    display: block;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-bottom: 1rem;
}

.carousel-indicators li {
    box-sizing: content-box;
    width: 30px;
    height: 3px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    background-color: #fff;
}

.carousel-indicators li.active {
    opacity: 1;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    text-align: center;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-control:hover {
    opacity: 1;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.main-header {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #f5f5f5;
    padding-left: 1rem;
    padding-right: 1rem;
}

.main-header > img {
    margin-right: .375rem;
}

.main-more {
    margin-left: auto;
    font-size: 14px;
    text-decoration: none;
    color: #adb5bd;
    display: flex;
    align-items: center;
}

.main-more:hover {
    border-bottom: 1px solid #8f63e8;
}

.main-more > img {
    height: 18px;
    margin-left: -3px;
}

.row {
    display: flex;
    padding: 1rem 0;
}

.w-auto {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.w-25 {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.w-30 {
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.w-40 {
    width: 40%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.w-60 {
    width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.w-100 {
    width: 100%;
}

.pagination {
    justify-content: center;
}

.pagination > a {
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #2f2d37;
    margin-right: 5px;
    margin-left: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: .5rem;
}

.pagination > a.active {
    color: #68ccf8;
}

.footer {
    background-color: #28262d;
    color: #adb5bd;
}

.footer p {
    line-height: 1.75;
}

.footer .header-brand > img {
    height: 80px;
    vertical-align: middle;
}

.footer .header-brand > span {
    font-size: 40px;
    vertical-align: middle;
}

.title {
    font-size: 1.25rem;
}

.menu > a {
    display: block;
    text-decoration: none;
    margin-top: .75rem;
    color: #adb5bd;
}

.menu > a:hover {
    text-decoration: underline;
}

/* 导航栏 */
.nav-menu-zw{
	height: 80px;
}

.index-page-bottom-area{
	background-color: #302D38;
	width: 100%;
	height: 300px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.index-page-bottom-area-content{
	height: 80%;
	width: 80%;
	/* margin-left: 15%; */
	/* background-color: #596DFF; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.index-page-bottom-area-content-left{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	/* background-color: #995BF0; */
}

.index-page-bottom-area-content-left-COAN{
	display: flex;
	margin-bottom: 20px;
}

.index-page-bottom-area-coan-title{
	/* Linear */
	
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	
	font-size: 50px;
	font-weight: 600;
}

.index-page-bottom-area-content-left-desc{
	color: #CAC4D0;
	font-size: 14px;
}

.index-page-bottom-area-content-right{
	/* background-color: #995BF0; */
	width: 60%;
	height: 200px;
}

.index-page-bottom-area-content-right-menu{
	display: flex;
	/* align-items: center; */
	/* justify-content: center; */
	justify-content: space-around;
	width: 100%;
}

.bottom-area-menu-title{
	color: #CAC4D0;
	font-size: 20px;
	margin-bottom: 20px;
}

.bottom-area-menu-title :hover{
	/* background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent; */
}

.bottom-area-menu-item{
	color: #CAC4D0;
	font-size: 14px;
	margin-top: 10px;
}

.bottom-area-memu-area div:hover{
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.index-page-bottom-area-cotent-right-btnarea{
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: 20px;
	margin-right: 60px;
}

.btnarea-title{
	color: #CAC4D0;
	margin-right: 25px;
}

.btn-items{
	height: 40px;
	width: 40px;
	/* background-color: #F6901A; */
	border-radius: 100000px;
	margin-left: 20px;
}

.btn-items img{
	height: 100%;
	width: 100%;
}

.btn-items1{
	height: 40px;
	width: 40px;
	/* background-color: #F6901A; */
	border-radius: 100000px;
	margin-left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-items1 img{
	height: 120%;
	width: 120%;
}