/* 用于占位 */
.nav-menu-zw {
    height: 75px;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #1c1b1f no-repeat url("../img/背景.png");
}

body {
    font-size: 14px;
}

.container {
    width: 76rem;
    margin: 0 auto;
	margin-top: 1.5rem;
	/* background-color: aquamarine; */
}

.pi-top-area{
	width: 100%;
	height: 11rem;
	background-color: #302D38;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-area-leftpart{
	display: flex;
	align-items: center;
	margin-left: 4rem;
}

.user-avater{
	width: 7.5rem;
	height:7.5rem;
	background-color: aliceblue;
	border-radius: 1000000px;
	overflow: hidden;
}

.user-avater img{
	height: 100%;
	width: 100%;
}

.toparea-user-info{
	margin-left: 2rem;
}

.first-row{
	display: flex;
	align-items: center;
}

.toparea-user-info-name{
	font-size: 28px;
	color: white;
}

.toparea-user-info-level{
	color: white;
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	width: 3rem;
	height: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	margin-left: 1rem;
}

.second-row{
	color: #FFFFFF;
	font-weight: 300;
	font-size: 18px;
	margin-top: 0.75rem;
	margin-bottom: 0.75rem;
}

.third-row{
	display: flex;
	align-items: center;
	/* justify-content: center; */
}

.toparea-user-msg-icon img{
	height: 1.5rem;
	width: 1.5rem;
}

.toparea-user-msg{
	color: #FFFFFF;
	margin-left: 15px;
	font-size: 18px;
}

.top-area-rightpart{
	margin-right: 4rem;
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	justify-content: flex-end;
	/* background-color: #837BF3; */
	height: 10rem;
	margin-bottom: 1.5rem;
}

.btn-row{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.tokenid-btn-area{
	height: 2.5rem;
	width: 9rem;
	background: linear-gradient(97.33deg, rgba(58, 206, 253, 0.6) 26.97%, rgba(110, 153, 246, 0.6) 53.31%, rgba(131, 123, 243, 0.6) 75.94%, rgba(153, 91, 240, 0.6) 92.08%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1000px;
}

.tokenid-btn{
	border:none;
	height: 90%;
	width: 97%;
	border-radius: 1000px;
	background-color: #302D38;
	color: white;
}

.updateinfo-btn-area{
	height: 2.5rem;
	width: 9rem;
	background: linear-gradient(97.33deg, rgba(58, 206, 253, 0.6) 26.97%, rgba(110, 153, 246, 0.6) 53.31%, rgba(131, 123, 243, 0.6) 75.94%, rgba(153, 91, 240, 0.6) 92.08%);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1000px;
	margin-left: 30px;
}

.updateinfo-btn{
	border:none;
	height: 90%;
	width: 97%;
	border-radius: 1000px;
	background-color: #302D38;
	color: white;
}

.datainfo-area{
	display: flex;
	align-items: center;
}

.follow-data-area{
	color: white;
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.fans-data-area{
	color: white;
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.work-data-area{
	color: white;
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.like-data-area{
	color: white;
	height: 5rem;
	width: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.data-num{
	font-size: 18px;
}

.data-kind{
	font-size: 18px;
}

.pi-bottom-area{
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
	margin-top: 1.5rem;
}

.pi-bottom-left-area{
	background-color: #302D38;
	width: 20rem;
	height: 32rem;
}

.pi-bottom-left-area-title{
	color: white;
	font-size: 24px;
	margin-left: 2rem;
	margin-top: 1rem;
}

.pi-bottom-left-area-underline{
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	width: 80%;
	margin-left: 10%;
	background: linear-gradient(96.85deg, rgba(58, 206, 253, 0) 10.73%, #995BF0 58.18%, rgba(110, 153, 246, 0) 102.75%);
	height: 2px;
}

.bottom-left-area-menu-item{
	display: flex;
	/* background-color: #3ACEFD; */
	height:3.2rem;
	margin-top: .5rem;
	align-items: center;
}

.bottom-left-area-menu-item:hover{
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
}

.menu-item-img{
	margin-left: 4rem;
	height: 2rem;
	width: 2rem;
}

.menu-item-img img{
	height: 100%;
	width: 100%;
}

.menu-item-title{
	color: white;
	font-size: 18px;
	margin-left: 1rem;
	letter-spacing: 0.1rem;
	/* background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%); */
}

.pi-bottom-right-area{
	background-color: #302D38;
	width: 53.5rem;
}



/* 这个要放文件的最底下 */
.menu-item-title-chosen{
	/* 渐变1 */
	background: linear-gradient(0deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	font-weight: 600;
}

.pi-bottom-right-area-displaynone{
	display: none;
}