.nav-menu-zw{
	height: 80px;
	width: 100%;
}

html {
	background: #1c1b1f no-repeat url("../img/背景.png");
}

.content{
	width: 100%;
	height: 600px;
	/* background-color: aquamarine; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	/* background-color: aquamarine; */
}

.content-leftArea{
	width: 600px;
	height: 100%;
	background-color: #302D38;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	display: flex;
	align-items: center;
	border-radius: 10px;
	/* justify-content: center; */
}

.pic-area{
	width: 90%;
	height: 400px;
	/* background-color: aquamarine; */
	margin-top: 30px;
	background-image: url(../img/kxszsfbg.png);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.kxszsf-title{
	color: white;
	font-size: 35px;
	margin-top: 50px;
	margin-right: 50px;
	letter-spacing: 0.03em;
	background: linear-gradient(
			97.33deg,
			#3ACEFD 26.97%,
			#6E99F6 53.31%,
			#837BF3 75.94%,
			#995BF0 92.08%);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}


.tokenid-area{
	color: white;
	font-size: 25px;
	margin-top: 20px;
	margin-right: 50px;
	letter-spacing: 0.03em;
	background: linear-gradient(
			97.33deg,
			#3ACEFD 26.97%,
			#6E99F6 53.31%,
			#837BF3 75.94%,
			#995BF0 92.08%);
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color:transparent;
}

.currentid-area{
	width: 90%;
	height: 40px;
	/* background-color: aquamarine; */
	display: flex;
	align-items: center;
	color: white;
	font-size: 16px;
	margin-top: 20px;
}

.id-area{
	margin-left: 20px;
}

.btn-area{
	width: 90%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.btn-area button{
	width: 200px;
	height: 100%;
	background: linear-gradient(97.33deg, #3ACEFD 26.97%, #6E99F6 53.31%, #837BF3 75.94%, #995BF0 92.08%);
	border: none;
	border-radius: 1000px;
	color: white;
	font-size: 18px;
}

.content-rightArea{
	width: 300px;
	height: 100%;
	/* background-color: beige; */
	background: linear-gradient(180deg, #4A4A4E 0%, rgba(48, 47, 51, 0) 97.4%);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

.first-row{
	font-size: 25px;
	color: white;
	margin-top: 30px;
	/* border:1px solid #995BF0; */
}

.img-row{
	margin-top: 15px;
}

.ending-row{
	color: gray;
	margin-top: 20px;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
	background-color: #524D60;
	-webkit-appearance: none;
	border: 1px solid #524D60;
	border-radius: 2px;
	outline: none;

}
input[type="checkbox"]:checked {
	background-image: linear-gradient(-45deg, #68ccf8, #8f63e8);
	background-size: 100% 100%;
}