<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>个人中心</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0, maximum-scale=0, user-scalable=yes,shrink-to-fit=no">
		<link rel="stylesheet" href="css/navbar.css">
		<link rel="stylesheet" href="css/PersonalCenter.css">
		<script src="./lib/vue-v2.6.14.js"></script>
	</head>
	<body>
		<!-- 引入nav-menu -->
		<div class="nav-menu">
			<div class="nav-leftArea">
				<div class="nav-COANLogo">
					<img src="img/logohqbsecai 1.png" alt="" id="nav-COANLogo">
				</div>
				<div class="nav-COANTitle">
					<div class="nav-titleText"" id="nav-COANTitle">COAN</div>
				</div>
				<div class="nav-searchArea">
					<div class="nav-searchAreaAndIcon">
						<input type="text" class="nav-searchBar" placeholder="搜你想要">
						<div class="nav-searchImg">
							<img src="img/searchIcon.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="nav-rightArea">
				<div class="nav-menuEntry">
					<!-- <div class="menuItem" id="menuItem0">NFT交易区</div> -->
					<div class="nav-menuItem" id="nav-menuItem1">
						
						<div class="nav-dropdown">
						    <button class="nav-dropbtn">游戏资产交易
						      <i class="fa fa-caret-down"></i>
						    </button>
						    <div class="nav-dropdown-content">
						      <a href="NormalGameAssetTrading.html">普通游戏资产</a>
						      <a href="MetaGameAssetTrading.html" style="font-size: 15px;">元宇宙游戏资产</a>
						    </div>
						  </div>
					</div>
					<div class="nav-menuItem" id="nav-menuItem0">
						<div class="nav-dropdown">
						    <button class="nav-dropbtn">NFT艺术品
						      <i class="fa fa-caret-down"></i>
						    </button>
						    <div class="nav-dropdown-content">
						      <a href="NFTArts.html">NFT艺术品</a>
						      <a href="NFTAuthoring.html">创作者专区</a>
						    </div>
						  </div>
					</div>
					<div class="nav-menuItem" id="nav-menuItem2">COAN Daily</div>
					<div class="nav-menuItem" id="nav-menuItem3">COAN Space</div>
				</div>
				<div class="nav-loginAndRegistArea">
					<div class="nav-userheadArea" id="nav-userhead">
						<img src="img/userhead.png" alt="" >
					</div>
					<div class="nav-loginAndRegistText" id="nav-usertitle">登录</div>
				</div>
				<div class="nav-contactUs" id="nav-ContactLogo">
					<img src="img/contactUs.png" alt="" >
					<div class="nav-contactText">联系我们</div>
				</div>
			</div>
		</div>
		<!-- 中间部分 -->
		<div class="nav-menu-zw">
			
		</div>
		<div class="container" id="app">
			<div class="pi-top-area">
				<div class="top-area-leftpart">
					<div class="user-avater">
						<img src="./img/personalcenteravater.png" alt="">
					</div>
					<div class="toparea-user-info">
						<div class="first-row">
							<div class="toparea-user-info-name">
								小A
							</div>
							<div class="toparea-user-info-level">
								LV5
							</div>
						</div>
						<div class="second-row">
							tokenID:{{1234567}}
						</div>
						<div class="third-row">
							<div class="toparea-user-msg-icon">
								<img src="./img/personalcentermsgicon.png" alt="">
							</div>
							<div class="toparea-user-msg">
								这个人很懒，什么都没写
							</div>
						</div>
					</div>
				</div>
				<div class="top-area-rightpart">
					<div class="btn-row">
						<div class="tokenid-btn-area">
							<button class="tokenid-btn">
								可信数字身份
							</button>
						</div>
						<div class="updateinfo-btn-area">
							<button class="updateinfo-btn">
								修改个人信息
							</button>
						</div>
					</div>
					<div class="datainfo-area">
						<div class="follow-data-area">
							<div class="data-num">
								111
							</div>
							<div class="data-kind">
								关注
							</div>
						</div>
						<div class="fans-data-area">
							<div class="data-num">
								20
							</div>
							<div class="data-kind">
								粉丝
							</div>
						</div>
						<div class="work-data-area">
							<div class="data-num">
								1
							</div>
							<div class="data-kind">
								作品数
							</div>
						</div>
						<div class="like-data-area">
							<div class="data-num">
								87
							</div>
							<div class="data-kind">
								点赞数
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pi-bottom-area">
				<div class="pi-bottom-left-area">
					<div class="pi-bottom-left-area-title">
						个人中心
					</div>
					<div class="pi-bottom-left-area-underline">
						
					</div>
					<div class="bottom-left-area-menu-item" v-for="(item,index) in this.menuitem" @click="changeIndex(index)">
						<div class="menu-item-img">
							<img :src="item.ucimg" alt="" v-if="chosenIndex!=index">
							<img :src="item.cimg" alt="" v-if="chosenIndex==index">
							<!-- {{chosenIndex==index}} -->
							<!-- {{chosenIndex}} -->
							<!-- {{index}} -->
						</div>
						<div :class="['menu-item-title',chosenIndex==index?'menu-item-title-chosen':'']">
							{{item.title}}
						</div>
					</div>
				</div>
				<div class="pi-bottom-right-area">
					<div :class="['pi-bottom-right-area-coanpoint',this.chosenIndex==0?'':'pi-bottom-right-area-displaynone']">
						<div class="coanpoint-area-title">
							COAN分
						</div>
						<div class="coanpoint-area-underline">
							
						</div>
						<div class="coanpoint-area-my-score-area">
							<div class="coanpoint-area-my-score-area-title">
								我的评分
							</div>
							<div class="coanpoint-area-my-score-area-myinfo">
								<div class="coanpoint-area-my-score-area-myavaterandlevel">
									<div class="coanpoint-area-my-score-area-myavater">
										<img src="./img/personalcenteravater.png" alt="">
									</div>
									<div class="coanpoint-area-my-score-area-level">
										LV 5
									</div>
								</div>
								<div class="coanpoint-area-my-score-area-scoreandprogressbar">
									<div class="coanpoint-area-my-score-area-score">
										{{coanscore}}
									</div>
									<div class="coanpoint-area-my-score-area-progressbar">
										<div class="progress-item">
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="coanpoint-standard-title">
							COAN分评价标准
						</div>
						<div class="coanpoint-standard-rules">
							<div class="rules-first">
								<div class="rules-first-left">
									初始分
								</div>
								<div class="rules-first-middle">
									实名认证后获得
								</div>
								<div class="rules-first-right">
									100分
								</div>
							</div>
							<div class="rules-second">
								<div class="rules-second-left">
									加分项
								</div>
								<div class="rules-second-middle">
									<div>
										正常交易
									</div>
									<br>
									<div>
										虚拟钱包使用时长
									</div>
								</div>
								<div class="rules-second-right">
									<div>
										单次+0.5分
									</div>
									<br>
									<div>
										满一年+2分
									</div>
								</div>
							</div>
							<div class="rules-third">
								<div class="rules-third-left">
									减分项
								</div>
								<div class="rules-third-middle">
									<div>
										非正常交易
									</div>
									<br>
									<div>
										不正当发言
									</div>
									<br>
									<div>
										信用违约
									</div>
								</div>
								<div class="rules-third-right">
									<div>
										单次-10分
									</div>
									<br>
									<div>
										单次-2分
									</div>
									<br>
									<div>
										单次-2分
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div :class="['pi-bottom-right-area-myproperty',this.chosenIndex==1?'':'pi-bottom-right-area-displaynone']">
						<div class="myproperty-area-title">
							我的资产
						</div>
						<div class="myproperty-area-underline">
							
						</div>
						<div class="myproperty-area-myewallet">
							<div class="mywallet-left-area">
								<div class="mywallet-title-pic">
									
								</div>
								<div class="mywallet-title-text">
									电子钱包
								</div>
							</div>
							<div class="mywallet-right-area">
								<div class="mywallet-managepwd-area">
									<button class="mywallet-managepwd-btn">
										密钥管理
									</button>
								</div>
								<div class="mywallet-watchdetail-area">
									<button class="mywallet-watchdetail-btn">
										钱包明细
									</button>
								</div>
							</div>
						</div>
						<div class="myproperty-area-mywallet-detail">
							<div class="mywallet-detail-leftarea">
								<div class="mywallet-detail-title">
									您的余额
								</div>
								<div class="balance-area">
									<div class="balance-num">
										110
									</div>
									<div class="balance-tag">
										RMB
									</div>
								</div>
								<div class="mywallet-detail-btn-area">
									<button class="rechargebtn">
										充值
									</button>
									<button class="getcashbtn">
										提现
									</button>
								</div>
							</div>
							<div class="mywallet-detail-rightarea">
								<div class="mywallet-detail-tips">
									Tips
								</div>
								<div class="mywallet-detail-tips-content">
									如果您想在本平台进行交易，需要先向电子钱包进行充值。 本平台的电子钱包可以绑定银行卡，方便您充值和提现。 （COAN国内版仅支持人民币。）
								</div>
							</div>
						</div>
						<div class="myproperty-area-underline">
							
						</div>
						<div class="myproperty-area-display">
							<div class="display-left-area">
								<div class="display-title-pic">
									
								</div>
								<div class="display-title-text">
									资产展示
								</div>
							</div>
							<div class="display-right-area">
								<div class="display-managenft-area">
									<button class="display-managenft-btn">
										管理我的NFT
									</button>
								</div>
							</div>
						</div>
						<div class="nftasset-area">
							<div class="nftasset-row">
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset1.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset2.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset3.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset4.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="nftasset-row">
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset5.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset6.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset7.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset8.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="nftasset-row">
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset9.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset10.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset11.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
								<div class="nftasset-item">
									<div class="nftasset-item-pic">
										<img src="./img/nftasset12.png" alt="">
									</div>
									<div class="nftasset-item-detail">
										<div class="nftasset-item-name">
											0083
										</div>
										<div class="nftasset-item-numberarea">
											<div class="nftasset-item-tag">
												数量
											</div>
											<div class="nftasset-item-num">
												1份
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div :class="['pi-bottom-right-area-myemail',this.chosenIndex==2?'':'pi-bottom-right-area-displaynone']">
						这是我的邮箱页面
					</div>
					<div :class="['pi-bottom-right-area-mypublic',this.chosenIndex==3?'':'pi-bottom-right-area-displaynone']">
						这是我的发布页面
					</div>
					<div :class="['pi-bottom-right-area-myexchange',this.chosenIndex==4?'':'pi-bottom-right-area-displaynone']">
						这是我想换的页面
					</div>
					<div :class="['pi-bottom-right-area-mygiveaway',this.chosenIndex==5?'':'pi-bottom-right-area-displaynone']">
						这是转赠记录页面
					</div>
					<div :class="['pi-bottom-right-area-mybill',this.chosenIndex==6?'':'pi-bottom-right-area-displaynone']">
						这是消费账单页面
					</div>
					<!-- {{this.chosenIndex}} -->
				</div>
			</div>
		</div>
		<script src="js/navbar.js"></script>
		<script>
		    const vm = new Vue({
		        el: "#app",
		        data: {
					//表示用户当前的coan分
					coanscore:96,
					//表示目前选中的菜单编号，0表示coan分，1表示我的资产等
					chosenIndex:1,
					//菜单渲染列表
					menuitem:[{
						title: "COAN分",
						ucimg:"./img/coanpointunchosen.png",
						cimg:"./img/coanpointchosen.png"
					},{
						title: "我的资产",
						ucimg:"./img/mypropertyunchosen.png",
						cimg:"./img/mypropertychosen.png"
					},{
						title: "我的邮箱",
						ucimg:"./img/myemailunchosen.png",
						cimg:"./img/myemailchosen.png"
					},{
						title: "我的发布",
						ucimg:"./img/mypublicunchosen.png",
						cimg:"./img/mypublicunchosen.png"
					},{
						title: "我想换的",
						ucimg:"./img/myexchangeunchosen.png",
						cimg:"./img/myexchangeunchosen.png"
					},{
						title: "转赠记录",
						ucimg:"./img/mygiveawayunchosen.png",
						cimg:"./img/mygiveawayunchosen.png"
					},{
						title: "消费账单",
						ucimg:"./img/mybillunchosen.png",
						cimg:"./img/mybillunchosen.png"
					}]
				},
		        methods: {
					changeIndex(i){
						this.chosenIndex = i;
					}
				}
		    })
		</script>
	</body>
</html>